# ==========================================
# Virtual environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Streamlit
# ==========================================
.streamlit/secrets.toml

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Environment variables
# ==========================================
.env
.env.*