# Virtual environment
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Models
*.pkl
*.joblib
*.h5
*.keras

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml